{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Login<span class="m_1"></span></h1>
    </div>
</div>

<div id="contact" class="section wb">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% endif %}
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactform" class="" action="" name="contactform" method="post">
                        {% csrf_token %}
                        <div class="row row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{form.username}}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{form.password}}
                            </div>
                            <div class="text-center pd">
                                <button type="submit" value="SEND" id="submit"
                                        class="btn btn-light btn-radius btn-brd grd1 btn-block">Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="map-box">
                    <div id="custom-places" class="small-map"></div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
{% endblock %}