{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
	<div class="all-title-box">
		<div class="container text-center">
			<h1>{{course.name}}</h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="{{teacher.image.url}}" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="post-date">
								<span class="day">30</span>
								<span class="month">Nov</span>
							</div>
							<div class="meta-info-blog">
								<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
								<span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
								<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
							</div>
							<div class="blog-title">
								<h2><a href="" title="">{{teacher.name}}</a></h2>
								<h5>{{teacher.job}}</h5>
							</div>
							<div class="blog-desc">
								<blockquote class="default">
									{{teacher.description}}
									{% for course in courses %}
										<a href="{% url 'course_detail' course.category.slug course.id %}">{{course.name}}</a>
									{% endfor %}
								</blockquote>
							</div>
						</div>
					</div>

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

	{% endblock %}